.pagiantor{
    padding: 15px 5px;

}


.page{
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}
.selectedPage {
    padding: 0px 4px 0px 4px;
    font-size:30px;
    color: gray;
    font-weight: bold;
    cursor: pointer;


}