/*.wrapper{*/
/*    padding: 15px;*/
/*}*/


.avaDescription{
    margin-top: 25px;
    overflow: hidden;
    display: flex;


}



.avatar{
    margin-right: 25px;
    width: 75px;
    border-radius: 50%;
}


.item{
    color: dimgrey;
}


.font{
    font-size: 20px;

}

.contacts{
    display: flex;
    flex-direction: column;

 }

.contacts a{
    text-decoration: none;

}

.lineInBottom{
    margin-top: 15px;
    width: 100%;
    height: 2px;
    background-color: gray;
}