/**{*/
/*    text-decoration: none;*/
/*    */
/*}*/



a:-webkit-any-link {

    cursor: pointer;
    text-decoration: none;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    height: 100vh;
}


.app-wrapper-content{
    display: block;
    height: 100%;
    grid-area: c;
    background-color: beige;
    padding: 20px;

}

